
/* another empty stylesheet */

p {
  font-family: $bodyfont;
  font-size: $normalfontsize;
}
code {
  font-family: $monospacefont;
  font-size: $monospacefontsize;
}
aside {
  font-size: $footnotefontsize;
}
h1 {
  font-family: $headerfont;
}
p.note {
  font-size: $smallerfontsize;
}

.document-type-band > :first-child {
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
